<div class='container fix-footer' style='width: 600px;'>
  <h2 class='text-center'>Modifier votre profil</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  label: 'Nouveau mot de passe',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: 'Confirmer le nouveau mot de passe',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" },
                  label: 'Mot de passe actuel'  %>
      <%= f.input :first_name, label: 'Prénom'  %>
      <%= f.input :last_name, label: 'Nom' %>
      <%= f.input :phone, label: 'Numéro de téléphone', placeholder: 'Au format 06 00 00 00 00...' %>
      <%= f.input :lady_name, label: 'Nom de jeune fille (le cas échéant)' %>
      <%= f.input :job, label: 'Activité'%>
      <%= f.input :description, label: 'Un petit mot sur vous pour la famille ?' %>
      <%= f.input :birth_date, start_year: 1900, end_year: 2030, label: 'Date de naissance', order: [:day, :month, :year] %>
      <%= f.input :direct_blood, label: 'Cochez si vous êtes un descendant Duhamel' %>
      <%= f.input :photo, label: 'Une photo de vous ?' %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Mettre à jour", class: 'bleu-button'%>
    </div>
  <% end %>

  <p class='mt-4 text-center'><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'taupe-button' %></p>
</div>
