<div class='container fix-footer' style='width: 600px;'>
  <%= simple_form_for [current_user.family, @publication] do |f| %>
    <%= f.input :title, label: 'Titre'  %>
    <%= f.input :content, label: 'Contenu'  %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Ajouter des images :' %>
    <%= f.button :submit, class: 'bleu-button' %>
  <% end %>
</div>
