<% if current_user == nil %>
  <div class="navbar-lewagon justify-content-end">
    <%= link_to "S'identifier", user_session_path %>
  </div>
<% else %>
  <div class="navbar-lewagon justify-content-center" style='position: relative;'>
    <%= link_to "Arbre", families_path, class: 'hover hover-3' %>
    <%= link_to "Actualités", family_publications_path(current_user.family), class: 'hover hover-3' %>
    <%= link_to "Mon profil", family_profile_path(current_user.family, current_user), class: 'hover hover-3' %>
    <div class='justify-self-end' style='position: absolute; top: 17px; right: 0px;'>
      <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class: 'taupe-button', style: 'font-size: 10px;' %>
    </div>
  </div>
<% end %>
